<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/external_rating.css">
    <title>외부 사람이 평가하는 페이지</title>
</head>
<body>
    <header>
        <h3>Welcome to Pulp Fiction!</h3>
        <img src="/mainlogo.png">
    </header>
    <main>
        <h3 style = "text-align: center;">업로드한 사진 넣을 공간</h3>
    </main>
    <footer>
        <form action="/test/rated/6" method="post">
            <div class = "Comment">
                <input type="text" name="comment" placeholder="욕설 사용은 자제해주세요" id="send-rate">
                <!-- <type="button" value =">" onclick="confirm('평가를 전송하시겠습니까?')"> -->
                <button type="submit">전송</button>
            </div>
        </form>
    </footer>
</body>
</html>