<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale = 1.0, user-scalable=no"
    />
    <title>Pulp_Fiction</title>
    <link rel="stylesheet" href="mainstyle.css" />
  </head>
  <body>
    <header>
      <h1 style="text-align: center">Pulp_Fiction Main Page</h1>
      <nav>
        <main>
          <span>
            <img src="img/mainlogo.png" />
          </span>
          <form action="/auth/login" method="post" class="LoginContent">
            <div>
              <span>아이디</span>
              <input type="text" id="LoginId" name="id"/>
            </div>
            <div>
              <span>비밀번호</span>
              <input type="text" id="LoginPw" name="password"/>
            </div>
            <button type="submit">로그인</button>
          </form>
          <div class="register_body">
            <span>
              <a href="/register">회원가입</a>
            </span>
          </div>
        </main>
      </nav>
    </header>
    <footer>
      <h3 id="copyright">@copyright groovystar</h3>
    </footer>
  </body>
</html>
